.container {
  display: grid;
  grid-template-columns: 150px 1fr 175px; /* 2 columns */
  column-gap: 10px;
  row-gap: 10px;
}

header {
  background-color: burlywood;
  height: 5vh;
  grid-column: 1 / -1; /* span all columns */
}

article {
  background-color: lightsteelblue;
}

aside {
  background-color: lightgrey;
}

footer {
  background-color: lightgoldenrodyellow;
  height: 5vh;
  grid-column: 1 / -1; /* span all columns */
}


h1 {
  font-size:  20px;
}

h3 {
  font-size:15px;
}


